@model CbsStudents.Models.Entities.Post

<hr/>
<h4 style="margin-top: 20px">Comments</h4>
<hr/>

@foreach (var comment in Model.Comments)
{
    <dl class="row">
        <dt class  ="col-sm-2">
            @nameof(comment.Text)
        </dt>
        <dd class = "col-sm-10">
            @comment.Text
        </dd>
        <dt class  ="col-sm-2">
            @nameof(comment.Created)
        </dt>
        <dd class = "col-sm-10">
            @comment.Created
        </dd>
        <dt class  ="col-sm-2">
            @nameof(comment.User.UserName)
        </dt>
        <dd class = "col-sm-10">
            @comment.User.UserName
        </dd>
    </dl>
    <div>
        <a class="btn btn-primary" asp-controller="Comment" asp-action="Edit" asp-route-id="@comment.CommentId">Edit</a> |
        <a class="btn btn-danger" asp-controller="Comment" asp-action="Delete" asp-route-id="@comment.CommentId">Delete</a>
    </div>
    <hr/>
}
